<!DOCTYPE html>
<html>
    <head>
        <title> Admin </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/styles.css" type="text/css" />
    </head>
    <body>
                <nav class="hero-nav">
            <h2 class="hero-nav__title">Heroe$4Hire</h2>
            <ul class="hero-nav__item-wrapper">
                <li class="hero-nav__item"><a href="/">Search</a></li>
                <li class="hero-nav__item"><a href="/login">Login</a></li>
                <li class="hero-nav__item"><a href="/cart">
                    <svg class="cartIcon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                </a></li>
            </ul>
        </nav>
        
        <h3>Heroes:</h3>
         
        <div class="flex-container">
            <% heroesList.forEach(function(hero){  %>
            
            
            <div class="hero-container js-select-hero" id="<%= hero.heroId %>">
                <figure>
                    <img class="thumbnail-img" src="<%= hero.imageURL %>" alt="Hero Image"/>
                    <figcaption>
                        <!--<a onclick="deleteConfirm()" class="removeAuthor" href="/deleteAuthor?authorId=<%=  %>">
                            [DELETE]
                        </a> 
                        <br>-->
                        <p>Hero: <%= hero.name %></p>
                        <p>Alias: <%= hero.alias %></p>
                        <p>Universe: <%= hero.universe %></p>
                        <p>Group: <%= hero.group %></p>
                        [<a href="/updateHero?heroId=<%= hero.heroId %>">UPDATE</a>]
                        [<a href="/ajax/deleteHero?heroID=<%= hero.heroId %>">Delete</a>]
                    </figcaption>
                    <br>
                </figure>
            </div>
            
            <% }) %>
        </div>
        
        <h1> Admin Section </h1>

        <form action="/addHeroes">
          <button> Add New Hero </button>
        </form>
        
        <!--logout button-->
        <form action="/">
            <button>
                Logout
            </button>
        </form>
     <!--generate report   -->
         <form action="/reports">
            <button>
                Report
            </button>
        </form>
      <!-- Modal -->
        <div class="modal fade" id="heroModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><h1 id="heroName"></h1></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                
                 <figure class="hero-info flex-container">
                     <div class="hero-info__img-wrapper">
                        <img id="heroImg" class="hero-info__img" src="">
                    </div>
                    <figcaption>
                        <div class="hero-info__text-wrapper">
                            <p>Real Name: <span id="heroName"></span></p>
                            <p>Alias: <span id="alias"></span></p>
                            <p>Gender: <span id="gender"></span></p>
                            <p>Powers: <span id="powers"></span></p>
                        </div>
                        <hr>
                        <div class="hero-info__text-wrapper">
                            <p>Universe Origin: <span id="universe"></span></p>
                            <p>Affiliation: <span id="group"></span></p>
                            <p>First Appearance: <span id="appearanceIssue"></span>, <span id="appearanceYear"></span></p>
                        </div>
                    </figcaption>
                </figure>
                <h3 class="hero-info__price"><span id="price"></span> Credits</h3>
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        
       <script type="text/javascript" src="/scripts.js"></script>
    </body>
</html>