<!DOCTYPE html>
<html>
    <head>
        <title> Heroes4Hire </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/styles.css" type="text/css" />
    </head>
    <body>
        <h1>Heroes4Hire</h1>
        
        <form action="/ajax/searchHero">
            <label for="searchTerm">
                Keyword: <input id="searchTerm" name="searchTerm" type="text" >
            </label>
            <label>
                Universe: 
                <select id="searchUniverse" name="universe">
                    <option value=""> Select One </option>
                    <option value="Marvel"> Marvel </option>
                    <option value="DC"> DC </option>
                </select>
            </label>
            <label>
                Gender: 
                <select id="searchGender" name="gender">
                    <option value=""> Select One </option>
                    <option value="M"> Male </option>
                    <option value="F"> Female </option>
                </select>
            </label>
            <input class="js-search-btn" type='submit' value='Search'>
        </form>
         
        <div class="flex-container js-heroes-container">
            <% heroesList.forEach(function(hero){  %>
            
            
            <div class="hero-container js-select-hero" id="<%= hero.heroId %>" data-toggle="modal" data-target="#heroModal">
                <figure>
                    <img class="thumbnail-img" src="<%= hero.imageURL %>" alt="Hero Image"/>
                    <figcaption>
                        <p>Hero: <%= hero.name %></p>
                        <p>Alias: <%= hero.alias %></p>
                        <p>Universe: <%= hero.universe %></p>
                        <p>Group: <%= hero.group %></p>
                    </figcaption>
                    <br>
                </figure>
            </div>
            
            <% }) %>
        </div>
        
     
      <!-- Modal -->
        <div class="modal fade" id="heroModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><h1 id="heroTitle"></h1></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                 <figure class="hero-info flex-container">
                     <div class="hero-info__img-wrapper">
                        <img id="heroImg" class="hero-info__img" src="">
                    </div>
                    <figcaption>
                        <div class="hero-info__text-wrapper">
                            <p>Real Name: <span id="heroName"></span></p>
                            <p>Alias: <span id="alias"></span></p>
                            <p>Gender: <span id="gender"></span></p>
                            <p>Powers: <span id="powers"></span></p>
                        </div>
                        <hr>
                        <div class="hero-info__text-wrapper">
                            <p>Universe Origin: <span id="universe"></span></p>
                            <p>Affiliation: <span id="group"></span></p>
                            <p>First Appearance: <span id="appearanceIssue"></span>, <span id="appearanceYear"></span></p>
                        </div>
                    </figcaption>
                </figure>
                <h3 class="hero-info__price"><span id="price"></span> Credits</h3>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">Add to Cart</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        
       <script type="text/javascript" src="/scripts.js"></script>
    </body>
</html>