<!DOCTYPE html>
<html>
    <head>
        <title> </title>
    </head>
    <body>

        <h1> Updating Hero </h1>
        

        <form method="POST">
        
            Name: <input type="text" name="name"
                        value="<%= heroInfo.name %>"><br>    
            Alias: <input type="text" name="alias"
                        value="<%= heroInfo.alias %>"><br>
            Gender: <input type="radio" name="gender" value="F" 
                         <%= heroInfo.gender == 'F'?"checked":"" %>
                        >Female
                    <input type="radio" name="gender" value="M"
                       <%= heroInfo.gender == 'M'?"checked":"" %>
                    >Male <br>
            Universe: <input type="text" name="universe"
                        value="<%= heroInfo.universe %>"><br>
                    
            <input type="hidden" name="heroId" value="<%= heroInfo.heroId %>"> 
            

            <br>
            <figure>
                <img src="<%= heroInfo.imageURL %>" alt="Hero Image May Not be Available" >
            </figure>
            
            <!--TODO: Add the remaining fields -->
            <br><br>
            <button>Update Hero</button>
        
            <%= typeof(message) != "undefined"?message:"" %>
            
        </form>        

        
    </body>
</html>