<!DOCTYPE html>
<html>
    <head>
        <title> </title>
    </head>
    <body>

        <h1> Updating Author </h1>
        

        <form method="POST">
        
            First name: <input type="text" name="firstName"
                        value="<%= authorInfo.firstName %>"><br>    
            Last  name: <input type="text" name="lastName"
                        value="<%= authorInfo.lastName %>"><br>    
            Gender: <input type="radio" name="gender" value="F" 
                         <%= authorInfo.sex == 'F'?"checked":"" %>
                        >Female
                    <input type="radio" name="gender" value="M"
                       <%= authorInfo.sex == 'M'?"checked":"" %>
                    >Male
                    
            <input type="hidden" name="authorId" value="<%= authorInfo.authorId %>" > 
            
            <input type="text" name="imageURL" value="<%= authorInfo.authorId %>" >
            <br>
            <figure>
                <img src="<%= authorInfo.authorId %>" alt="Hero Image May Not be Available" >
            </figure>
            
            <!--TODO: Add the remaining fields -->
            <br><br>
            <button>Update Author</button>
        
            <%= typeof(message) != "undefined"?message:"" %>
            
        </form>        

        
    </body>
</html>